<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110256163768-6isglfeogh517674gjs5o4mj4ckjg8un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110256163768-6isglfeogh517674gjs5o4mj4ckjg8un</string>
	<key>API_KEY</key>
	<string>AIzaSyCn1t9b_CnFNv4t6-ZUnRFmpfVK9F13B_E</string>
	<key>GCM_SENDER_ID</key>
	<string>110256163768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMobius</string>
	<key>PROJECT_ID</key>
	<string>mobius-5f714</string>
	<key>STORAGE_BUCKET</key>
	<string>mobius-5f714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110256163768:ios:2559f2100f112a15741d4d</string>
</dict>
</plist>